{% extends "base.html" %}

{% block content %}

    <h1>{{person.username}} 님의 프로필 페이지</h1>

    <hr>

    <div>  
        <div>
            팔로잉: {{person.followings.all|length}} / 팔로워: {{person.followers.all|length}}
        </div>
        {% comment %} request.user은 로그인한 사용자, person은 프로필 소유자 {% endcomment %}
        {% if request.user != person %}
            <div>
                <form action="{% url "accounts:follow" person.pk %}" method="POST">
                    {% csrf_token %}
                    {% comment %} 로그인 사용자가 이미 팔로잉을 하고있는지 아닌지. {% endcomment %}
                    {% if request.user in person.followers.all %}
                        <input type="submit" value="언팔로우">
                    {% else %}
                        <input type="submit" value="팔로우">
                    {% endif %}

                </form>
            </div>
        {% endif %}
    </div>

    <h2>{{person.username}} 님이 작성한 게시글</h2>
    {% comment %} user의 외래키가 article과 comment에 있음 -> 역참조 {% endcomment %}
    {% for article in person.article_set.all  %}
        <div>{{article.title}}</div>
    {% endfor %}

    <hr>

    <h2>{{person.username}} 님이 작성한 댓글 </h2>
    {% for comment in person.comment_set.all  %}
        <div>{{comment.content}}</div>
    {% endfor %}

    <h2>{{person.username}} 님이 좋아요 누른 게시글</h2>
    {% for article in person.like_articles.all  %}
        <div>{{article.title}}</div>
    {% endfor %}

    <a href="{% url "articles:index" %}">HOME</a>

{% endblock content %}