{% extends "base.html" %}

{% block content %}

  {% comment %} 수정 {% endcomment %}
  <a href="{% url "articles:update" article.pk %}">EDIT</a>

  <hr>

  {% comment %} 삭제 {% endcomment %}
  <form action="{% url "articles:delete" article.pk %}" method="POST">
    {% csrf_token %}

    <input type="submit" value="DELETE">
  </form>
  
  <h2>Detail</h2>
  <h3>{{article.pk}}</h3>

  <hr>

  {% comment %} 이미지가 있다면 {% endcomment %}
  {% if article.image %}
    <img src="{{article.image.url}}" alt="업로드한 이미지">  
  {% endif %}

  <hr>

  <p>제목 : {{article.title}}</p>
  <p>내용 : {{article.content}}</p>


  <h4>댓글 목록</h4>
  <ul>
    {% for comment in comments %}
    <li>
      {{comment.user}} - {{comment.content}}
      {% comment %} 댓글 삭제 버튼이 로그인한 유저와 댓글을 쓴 유저가 같을 때만 보인다 {% endcomment %}
      {% if request.user == comment.user %}
        <form action="{% url "articles:comments_delete" article.pk comment.pk %}">
          {% csrf_token %}
          <input type="submit" value="댓글 삭제">
        </form>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <hr>
  <form action="{% url "articles:comments_create" article.pk %}" method="POST">
    {% csrf_token %}
    {{comment_form}}
    <input type="submit" value="댓글 생성">
  </form>

  <a href="{% url "articles:index" %}">HOME</a>

{% endblock content %}