{% extends "base.html" %}

{% load static %}

{% block content %}
  {% comment %} auth_login(request, form.get_user()) -> request로 부터 온 user {% endcomment %}
  <h3>안녕하세요. {{user.username}}님</h3>

  <h1>그나의 게시판</h1>

  {% if request.user.is_authenticated %}

    <form action="{% url "accounts:logout" %}" method=POST>
      {% csrf_token %}
      <input type="submit" value="logout">
    </form>

    <a href="{% url "accounts:update" %}">update</a>

    <form action="{% url "accounts:delete" %}" method=POST>
      {% csrf_token %}
      <input type="submit" value="delete your account">
    </form>

    <hr>
      <a href="{% url "articles:create" %}">글쓰기</a>
    <hr>

  {% else %}
    <a href="{% url "accounts:signup" %}">signup</a>

    <a href="{% url "accounts:login" %}">login</a>
  {% endif %}

  <img src="{% static "cat.webp" %}" alt="고양이">
  
  


  {% comment %} DTL for문 {% endcomment %}
  {% for article in articles %}
    {% comment %} DTL 변수 (콧수염 괄호) {% endcomment %}
    <p>글 id : {{article.pk}}</p>
    <a href="{% url "articles:detail" article.pk %}">
      <p>글 제목 : {{article.title}}</p>
    </a>
    
    <hr>
  {% endfor %}


{% endblock content %}